# Virtual environment
deepfake_env/
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc

# System files
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Dataset and training files
data/
checkpoints/

# Logs and cache
*.log
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Build files
build/
dist/
*.egg-info/

# Database
db.sqlite3

# VS Code temp
tempCodeRunnerFile.py